fastapi
uvicorn
pymongo
python-dotenv
python-multipart
pillow
opencv-python
numpy
scikit-learn
scikit-image
torch
torchvision
sentence-transformers
requests
certifi
dnspython
clarifai
google-genai
rembg
transformers